@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");

.wrapper {
   overflow: clip;
	min-height: 100%;
}
.header__container{
   font-size: 0;
   padding: 15px 0;
   margin: 0 auto;
   max-width: 1220px;
}

.header--top {
   padding: 15px;
   color: #37393F;
   font-family: Inter;
   font-size: 18px;
   font-weight: 400;
   position: sticky;
   background-color: #ffffff;
   top: 0;
   z-index: 50;
   width: 100%;
}

.header__logo {
   font-size: 0;
   vertical-align: center;
   display: inline-block;
}
.header__logo img{
   width: 42px;
   height: 29px;
}

.header__txt-logo{
   display: inline-block;
   color: #37393F;
   font-family: Poppins;
   font-size: 25px;
   font-style: normal;
   font-weight: 700;
}
.header__txt-logo span {
   color: #6B77E5;
}

.menu {
   display: inline-block;
}

.menu__list {
   font-size: 18px;
   display: inline-block;
   margin-left: 195px;
}

.menu__item {
   position: relative;
   display: inline-block;
   z-index: 2;
}

.menu__item:not(:last-child){
   margin-right: 35px;
}

.menu__link, .sub-menu__link, .second-sub-menu__link {
   position: relative;
	text-decoration: none;
}
.menu__link::before, .sub-menu__link::before, .second-sub-menu__link::before {
	content: '';
	position: absolute;
	left: 0; 
   bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: #6B77E5;
}

.menu__item:hover .menu__link:before, .sub-menu__item:hover .sub-menu__link:before, .second-sub-menu__link:hover:before {
	width: 100%;
}

.menu__link::before, .sub-menu__link:before, .second-sub-menu__link:before {
	transition: width 0.35s;
}

.menu__link--pages::after {
   content: "";
   display: block;
   margin-left: 4px;
   position: absolute;
   left: 100%;
   top: 50%;
   width: 10px;
   height: 6px;
   background: url("../img/vector.svg");
}

.sub-menu {
   padding: 10px 5px;
   position: absolute;
   top: 25px;
   left: -10px;
   opacity: 0;
	visibility: hidden;
   z-index: 1;
   background-color: #fff;
   min-width: 220px;
   
}

.sub-menu::before {
   content: "";
   position: absolute;
   bottom: 100%;
   left: 0;
   width: 100%;
   height: 10px;
 }

.sub-menu__item {
   position: relative;
   padding: 10px 5px;
}
.menu__item:hover .sub-menu {
   opacity: 1;
	visibility: visible;
   transition: 0.5s linear;
}


.header__consulting {
   display: inline-block;
   margin-left: 40px;
   
}

.consulting__link {
   font-family: Cabin;
   color: #FFF;
   font-size: 18px;
   font-weight: 600;
   background: #6B77E5;
   padding: 21px 35px;
}
.consulting__link:hover{
   background: #40DDB6;
   text-decoration: underline;
   transition: 0.35s linear;
}

.second-sub-menu__item{
   position: relative;
   display: inline-block;
   padding: 10px 5px;
}

.second-sub-menu{
   position: absolute;
   left: 100%;
   top: 0px;
   min-width: 220px;
   padding-left: 10px;
   padding-bottom: 10px;
   opacity: 0;
   visibility: hidden;
   background-color: #fff;
   
}

.sub-menu__item:hover .second-sub-menu{
   opacity: 1;
   visibility: visible;
   transition: 0.5s linear;
}

/* ----------------------------------------- */
.main__container{
   position: relative;
   font-size: 25px;
   margin: 0 auto;
   max-width: 1220px;
}

.first-example__title{
   width: 100%;
   padding: 10px;
   position: sticky;
   top: 90px;
   font-size: 25px;
   text-align: center;
   background-color: #fff200;
}

.first-example--margin{
   margin-bottom: 50px;
}

.second-example{
   text-align: center;
   font-size: 80px;
}

.second-example__letter{
   height: 500px;
   background-color: #5bd100;
}
.second-example__letter:nth-child(2n){
   background-color: #ffff00;
}
.second-example__letter:nth-child(2n){
   background-color: #ffff00;
}
.second-example__letter:nth-child(3n){
   background-color: #00ffff;
}

.second-example__letter p{
   position: sticky;
   top: 90px;
}

.second-example--margin{
   margin-bottom: 50px;
}
/* -------------------------------------- */
.cards{
 display: inline-block;
 font-size: 0;
}
.card > img{
   max-width: 386px;
   height: 532px;
}
.card{
   display: inline-block;
   font-size: 0;
   max-width: 386px;
   position: relative;
   margin-bottom: 31px;
}

.card::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   background-color: rgba(107, 119, 229, 0.70);
   visibility: hidden;
   opacity: 0;

}
.card__socials{
   display: inline-block;
   position: absolute;
   left: 107.5px;
   top: 241px;
   visibility: hidden;
   opacity: 0;
}

.card__item {
   display: inline-block;
}
.card__item:hover {
   outline: 2px solid #ffffff;
   border-radius: 50%;
   transition: outline 0.15s;
}
.card__item--middle{
   margin: 0 13px;
}
.card__descr{
   background-color: #fff;
   padding: 24px 42px;
   position: absolute;
   bottom: 22px;
   left: 22px;
   width: 341px;
}

.descr-card__title{
   color: #37393F;
   text-align: center;
   font-family: Poppins;
   font-size: 25px;
   font-weight: 600;
   margin-bottom: 7px;
}

.descr-card__subtitle {
   color: #7D7D7D;
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.35;
}

.card:hover::before, .card:hover .card__socials {
   visibility: visible;
   opacity: 1;
   transition: 0.3s ease-in-out;
}

.card:not(:nth-child(3n)){
   margin-right: 31px;
}
.cards--margin{
   margin-bottom: 50px;
}

.footer{
   height: 703px;
   background-color: #37393F;
}