@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:700,400,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:500,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background: #04011F;
  color: #FFFFFF;
}
.burger-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1200px; /* 1170 + 15 + 15 */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-----------------------HEADER-----------------  */
.header {
  background-color: #000;
  font-family: Merriweather;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}
@media (max-width: 960px) {
  .header__container {
    min-height: 50px;
  }
}
.header__logo {
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
}

@media (max-width: 425px) {
  .header__logo {
    font-size: 25px;
  }
}
.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 960px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 85px 15px 30px 15px;
    background-color: rgba(10, 4, 56, 0.914);
    overflow: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger-open .menu__body {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    left: 0;
    z-index: 2;
    background-color: #000000;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .burger-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5.62%;
     -moz-column-gap: 5.62%;
          column-gap: 5.62%;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 960px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 40px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 25px;
    padding-top: 50px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.burger-open .menu__list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 1024px) {
  .menu__list {
    -webkit-column-gap: 7.62%;
       -moz-column-gap: 7.62%;
            column-gap: 7.62%;
  }
}
@media (any-hover: hover) {
  .menu__item:hover {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    color: #a0a0a0;
    -webkit-transform: scale(1.05) rotate(-10deg);
            transform: scale(1.05) rotate(-10deg);
  }
}
.menu__item--active {
  font-weight: 700;
  color: #ffffff;
}
.menu__item--active a {
  text-decoration: underline;
}
.header__log-in {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.log-in {
  z-index: 2;
  font-size: 20px;
  font-weight: 700;
}
.log-in__btn {
  padding: 12px 29px;
  border-radius: 2px;
  background: #F7A428;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .log-in__btn:hover {
    background: #cc7c03;
  }
}
@media (max-width: 960px) {
  .log-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .log-in__btn {
    padding: 5px 25px;
  }
}
@media (max-width: 425px) {
  .log-in {
    gap: 10px;
    font-size: 15px;
  }
  .log-in__btn {
    padding: 5px 9px;
  }
}
.log-in .burger-menu {
  display: none;
}
@media (max-width: 960px) {
  .log-in .burger-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    width: 30px;
  }
  .log-in .burger-menu::before, .log-in .burger-menu::after, .log-in .burger-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .log-in .burger-menu::before {
    top: 0;
  }
  .burger-open .log-in .burger-menu::before {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
    top: 50%;
    margin-top: -1px;
  }
  .log-in .burger-menu::after {
    bottom: 0;
  }
  .burger-open .log-in .burger-menu::after {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .log-in .burger-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .burger-open .log-in .burger-menu span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* -------------------- HERO----------------*/
.hero {
  background: url(../img/hero-bg.webp) center/cover no-repeat;
  height: 100vh; /*  трішки чітерства😄 */
  color: #FFF;
  text-align: center;
  font-family: DM Serif Text;
  font-size: 58px;
  font-weight: 400;
  line-height: 1.39;
  padding-top: 317px;
  position: relative;
  z-index: 0;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(10, 4, 56, 0.58);
}
.hero__container {
  max-width: 700px;
}
.hero__title {
  margin-bottom: 32px;
}
.hero__descr {
  margin-bottom: 29px;
  font-family: Inter;
  font-size: 18px;
  line-height: 1.8;
}
.hero__shop-now {
  padding: 17px 37px;
  border-radius: 5px;
  background: #F7A428;
  font-size: 28px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .hero__shop-now:hover {
    background: #cc7c03;
  }
}
@media (max-width: 960px) {
  .hero {
    padding-top: 200px;
  }
}
@media (max-width: 768px) {
  .hero {
    font-size: 46px;
  }
}
@media (max-width: 425px) {
  .hero {
    padding-top: 150px;
    font-size: 34px;
  }
  .hero__shop-now {
    padding: 12px 27px;
  }
}

/* ------------------------SECTION 2 --------------------*/
.section-2 {
  padding: 167px 0;
}
@media (max-width: 768px) {
  .section-2 {
    padding: 80px 0;
  }
}

.cards-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11.916667%;
     -moz-column-gap: 11.916667%;
          column-gap: 11.916667%; /* 143/1200 */
  row-gap: 50px;
}
@media (max-width: 768px) {
  .cards-section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  text-align: center;
}
.card__pic {
  margin-bottom: 21px;
  max-width: 66px;
  max-height: 66px;
}
.card__name {
  font-family: DM Serif Text;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 8px;
}
.card__decr {
  color: #C2C2C2;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

/* -------------------------------SECTION 3------------------- */
.section-3 {
  background-image: url("../img/mid-line.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.666667%;
     -moz-column-gap: 4.666667%;
          column-gap: 4.666667%; /* 56/1200 */
}
.section-3__left-side {
  padding-top: 31px;
  padding-left: 34px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.section-3__right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left-side__picture {
  border-radius: 5px;
  max-width: 397px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.left-side__picture img {
  aspect-ratio: 397/506; /* вказуємо ширину та висоту (по макету) */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wwd {
  margin-bottom: 94px;
}
.wwd__pretitle {
  color: #FAC70F;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 13;
}
.wwd__title {
  color: #FFF;
  font-family: DM Serif Text;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.46;
}

.right-side__picture {
  margin-bottom: 40px;
  border-radius: 5px;
  max-width: 414px;
}
.right-side__picture img {
  aspect-ratio: 414/608; /* вказуємо ширину та висоту (по макету) */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.right-side__descr {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8; /* 36px */
}

@media (max-width: 1024px) {
  .wwd {
    margin-bottom: 54px;
  }
  .wwd__pretitle {
    font-size: 28px;
  }
  .wwd__title {
    font-size: 44px;
  }
}
@media (max-width: 768px) {
  .section-3__left-side {
    padding-top: 21px;
    padding-left: 24px;
  }
  .wwd {
    margin-bottom: 24px;
  }
  .wwd__pretitle {
    font-size: 18px;
  }
  .wwd__title {
    font-size: 26px;
  }
  .right-side__descr {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .section-3__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  .section-3__left-side {
    padding: 0;
  }
  .right-side__picture {
    margin-bottom: 20px;
  }
  .right-side__descr {
    font-size: 14px;
  }
}
/*----------------------- SECTION4--------------------- */
.section-4 {
  padding-top: 13.9%; /* 167px/1200 */
  background-image: url(../img/line-sec4.webp);
  background-repeat: no-repeat;
  background-position: right bottom 167px;
}
.section-4__title {
  margin-bottom: 87px;
}
.title {
  text-align: center;
}
.title__item {
  color: #FFF;
  font-family: DM Serif Text;
  font-size: 58px;
  font-weight: 400;
  margin-bottom: 27px;
}
.title__sub-item {
  color: #BCBCBC;
  font-family: Cormorant Infant;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
}

.cards-section-4 {
  margin-bottom: 160px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  gap: 2.5%; /* 30px/1200 */
}
.cards-section-4__product {
  /*   max-width: 271px; */
  width: 100%;
  height: 100%;
}

.product__pic {
  margin-bottom: 17px;
}
.product__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 271/270;
}
.product__descr {
  color: #FFF;
  font-family: Cormorant Infant;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}
.product__name {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .product__name:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (max-width: 500px) {
  .title {
    margin-bottom: 30px;
  }
  .title__item {
    font-size: 42px;
  }
  .title__sub-item {
    font-size: 22px;
  }
}
/* ------------------SECTION-5 ------------------*/
.section-5 {
  margin-bottom: 167px;
  background-image: url("../img/hendrcafted-line.svg");
  background-repeat: no-repeat;
  background-position: left top 45px;
}
.section-5__cards-hendcrafted {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3.75%; /* 45px/1200 */
}

.text__wwd {
  margin-bottom: 49px;
}

.hendcrafted-card__pic {
  margin-bottom: 25px;
}
.hendcrafted-card__descr {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
}

.hendcrafted-card--01 {
  padding-top: 39px;
}
.hendcrafted-card--01 img {
  width: 100%;
  /*       height: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 370/552;
}

.hendcrafted-card--02 img {
  width: 100%;
  /*       height: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 336/465;
}

.hendcrafted-card--03 {
  padding-top: 118px;
}
.hendcrafted-card--03 img {
  width: 100%;
  /*       height: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 360/523;
}

@media (max-width: 960px) {
  .hendcrafted-card__descr {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .hendcrafted-card {
    padding: 0;
  }
  .hendcrafted-card__descr {
    font-size: 16px;
  }
  .hendcrafted-card__pic {
    margin-bottom: 10px;
  }
  .section-5__text {
    font-size: 30px;
  }
}
/*------------------------- SECTION-6---------------------- */
.section-6__title {
  text-align: left;
  margin-bottom: 60px;
}

.section-6 {
  margin-bottom: 167px;
  background-image: url("../img/section6-line.webp");
  background-repeat: no-repeat;
  background-position: right top;
}
.content {
  display: grid;
  gap: 3.833333%; /* 46px/1200 */
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.card-item__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 364/256;
}
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
  background-color: #050314;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 24px 22px 18px 24px;
  border-bottom: 1px solid rgba(232, 239, 237, 0.29);
  border-left: 1px solid rgba(232, 239, 237, 0.29);
  border-right: 1px solid rgba(232, 239, 237, 0.29);
}
.info__name {
  font-family: DM Serif Text;
  font-size: 18px;
  font-weight: 400;
}
.info__middle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__date::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("../img/date.svg") 0 0/cover no-repeat;
}
.info__read-more {
  width: 80px;
  font-family: DM Serif Text;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .info__read-more:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    color: #aeaeae;
  }
}

@media (max-width: 768px) {
  .section-6__title {
    margin-bottom: 30px;
  }
}
/* --------------------FOOTER ------------------*/
.footer {
  background-image: url("../img/footer-line.webp");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 40px;
  border-top: 1px solid rgba(249, 249, 249, 0.22);
  text-align: center;
  padding-bottom: 42px;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  font-family: Cormorant Infant;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4; /* 42px */
  margin-bottom: 50px;
}
.contacts__mail {
  font-size: 40px;
  font-weight: 700;
}
.contacts__adress {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  max-width: 330px;
}
.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.contacts__link {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .contacts__link:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.contacts__link img {
  width: 27px;
  height: 27px;
}

.links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.166667%; /* 50px/1200 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.links-footer__item {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4; /* 25.2px */
  text-decoration-line: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .links-footer__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 480px) {
  .footer__contacts {
    font-size: 26px;
  }
  .contacts__mail {
    font-size: 24px;
  }
}