@import url(reset.css);
@import url(fonts.css);

.wrapper{
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}

header, footer {
   text-align: center;
   padding: 15px;
   background-color: #282626;
   color: #fff;
}



.header--margin{
   margin-bottom: 50px;
}
.contact-form{
   margin: 0 auto;
   max-width: 1250px;
   padding: 0 15px;
   text-align: center;
}

.form__item input {
	padding: 21px 40px 20px;
   width: 100%;
   height: 100%;
   border-radius: 0 !important;
}

.form__item input::placeholder, .form__textarea::placeholder{
   color: #37393F;
}

.form input, .form textarea{
   border: 1px solid #DDD;
   background: #F8F8F8;
}

.form textarea:focus, .form input:focus {
   outline: 1px solid #6b77e5;
}

input[required] {
   outline-color: red;
 }

.form__textarea{
   padding: 22px 40px;
   width: 100%;
   height: 222px;
   resize: none;
}

.contact-form__btn{
   background: #6B77E5;
   padding: 20px 60px;
   color: #FFF;
   font-family: Inter;
   font-size: 18px;
   font-weight: 600;
   color: #FFF;
   transition: 0.3s ease-in-out;
   outline: 2px solid #6B77E5;
}

.contact-form__btn:hover{
   background: rgba(79, 86, 168, 0);
   color: #6B77E5;
   
}

.form__body{
   display: flex;
   flex-wrap: wrap;
   row-gap: 28px;
   margin: 0 -17.5px;
   color: #37393F;
   font-family: Inter;
   font-size: 18px;
   font-weight: 400;
}

.form__item{
   padding: 0 17.5px;
   flex: 1 1 50%;
   min-width: 290px;
   line-height: 1.3;

}

.form--margin{
   margin-bottom: 50px;
}

.title__contact::before{
   content: "";
   width: 12px;
   height: 12px;
   background: #40DDB6;
   margin-right: 7px;
}

.title__contact{
margin-bottom: 16px;
color: #37393F;
font-family: Inter;
font-size: 18px;
font-weight: 500;
}

.title__text{
   color: #37393F;
   font-family: Poppins;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 40px;
}

.contact-form--margin{
   margin-bottom: 100px;
}

/* ---------------INFO FORM-------------- */

.my-info{
   max-width: 925px;
   padding: 0 15px;
   margin: 0 auto;
}

.my-info--margin{
   margin-bottom: 70px;
}

/* checkboxes ------>>*/

.info-form__checkbox input{
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.custom-checkbox+label {
   display: inline-flex;
   align-items: center;
   column-gap: 11px;
 }
 .custom-checkbox+label::before {
   content: '';
   width: 20px;
   height: 20px;
   flex-shrink: 0;
   border: 2px solid #BEBCBD;
   border-radius: 2px;
   /* margin-right: 11px; */
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 80%;
 }

 .info-form__checkbox:hover .custom-checkbox+label::before{
   background-color: #e6e6e6;
 }

 .custom-checkbox:checked+label::before {
   background-image: url("../img/checkmark.png");
 }
 /* <<---checkboxes */
/*  buttons ---> */

.info-form__button, .btn{
   padding: 12px 40px;
   border-radius: 8px;
   font-family: Causten;
   font-size: 20px;
   transition: .3s ease-in-out;
}

.info-form__button--cancel{
   background: #F6F6F6;
   font-weight: 700;
   color: #807D7E;
   border: 2px solid #F6F6F6;
}
.info-form__button--save, .btn{
   background: #8A33FD;
   font-weight: 600;
   color: #fff;
   border: 2px solid #8A33FD;
}

.info-form__button--save:hover, .btn:hover{
   background: transparent;
   color: #8A33FD;
}
.info-form__button--cancel:hover{
   background: transparent;
   border: 2px solid #d0d0d0;
}
/* ,<<<<--------- buttons */

.info-form__item input, #state, #state-checkout, #delivery-instrucrion{
   border-radius: 8px;
   background: #F6F6F6;
   padding: 18px 22px;
   width: 100%;
}



.info-form__body{
   display: flex;
   flex-wrap: wrap;
   row-gap: 31px;
   margin: 0 -21px;
   margin-bottom: 30px;
}

#delivery-instrucrion{
   height: 150px;
   resize: none;
}

.info-form__item{
   padding: 0 21px;
   min-width: 290px;
   flex: 1 1 50%;
}

.info-form__item--textarea{
   flex-basis: 100%;
}

.info-form__checkbox--ship{
   margin-bottom: 12px;
   display: inline-block;
}

.info-form__checkbox--bill{
   margin-bottom: 58px;
   display: inline-block;
}

.info-form__buttons{
   font-size: 0;
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
}

.my-info__sub-title, .my-info__title{
   color: #3C4242;
   font-family: Core Sans C;
   font-weight: 600;
   font-size: 22px;
   line-height: 1.52;
   letter-spacing: 0.44px;
}

.my-info__title{
   font-size: 28px;
   line-height: 1.19; /* 119.643% */
   letter-spacing: 0.56px;
   margin-bottom: 20px;
}

.my-info__sub-title{
   margin-bottom: 50px;
}

.info-form__body label{
   color: #3C4242;
   font-family: Causten;
   font-size: 18px;
   font-weight: 600;
   letter-spacing: 0.36px;
   display: inline-block;
   margin-bottom: 10px;
}

.info-form__body input::placeholder{
   color: #807D7E;
   font-family: Causten;
   font-size: 16px;
   font-weight: 400;
   line-height: normal;
}
#state, #state-checkout {
   color: #807D7E;
   font-family: Causten;
   font-size: 16px;
   font-weight: 400;
}

.info-form__checkbox label{
   color: #3C4242;
   font-family: Causten;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
}

/* ------------------Check Out-------------- */
.info-form__item--check-out{
   padding: 0 19px;
}

.info-form__body--check-out{
   row-gap: 28px;
   margin: 0 -19px;
   margin-bottom: 43px;
}

.my-info--check-out{
   max-width: 832px;
   padding: 0 15px;
   margin-bottom: 32px;
}
.my-info__title--check-out{
   display: flex;
   column-gap: 15px
}

.info-form__checkbox--save{
   margin-bottom: 0;
}
.my-info__title--check-out::before{
   content: "";
   width: 6px;
   height: 28px;
   border-radius: 10px;
   background: #8A33FD;
   flex-shrink: 0;
}

.info-form__body--check-out input::placeholder, .info-form__body--check-out #state, .info-form__body--check-out #state-checkout{
   font-size: 14px;
}

.info-form__item--col3{
   padding: 0 16px;
   min-width: 246px;
   flex: 1 1 33.333%;
}
/* 
.info-form__item--check-out:last-child{
   flex-basis: 382px;
   flex-grow: 0;
} */

.info-form .info-form__item--check-out:last-child{
   flex-grow: 0;
}

.delivery-form{
   max-width: 870px;
   padding: 0 15px;
   margin: 0 auto;
   
}
.info-form__button--continue, .btn{
   padding: 16px 20px;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 20px;
   color: #fff;
   background: #8A33FD;
}

hr{
   height: 0;
   width: 100%;
   border: 1px solid #EDEEF2;
   margin-bottom: 30px;
}

.shipp-adress__title{
   margin-bottom: 8px;
   color: #3C4242;
   font-family: Core Sans C;
   font-size: 22px;
   font-weight: 600;
   line-height: 1.52;
   letter-spacing: 0.44px;
}

.shipp-adress__subtitle, .subtitle{
   color: #3C4242;
   font-family: Causten;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.item-delivery{
   padding: 32px 48px 32px 26px;
   border-radius: 12px;
   background: #F6F6F6;
   display: flex;
   flex-direction: column;
   row-gap: 25px;
   color: #3C4242;
   font-family: Causten;
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 30px;
}

/* .item-delivery__wrapper-input--border-bottom{
   border-bottom: 2px solid #BEBCBD;
} */

.item-delivery__line{
   border: 1px solid #BEBCBD;
   height: 0;
   margin-bottom: 0;
}

/* .item-delivery input{
   margin-right: 19px;
} */

input[type="radio"] {
   margin-right: 19px;
   width: 18px;
   height: 18px;
}


/* Приховати стандартний вигляд радіо-кнопки */
input[type="radio"] {
   display: none;
}

/* Створення власного вигляду для радіо-кнопки */
input[type="radio"] + label {
   position: relative;
   cursor: pointer;
}

input[type="radio"] + label::before {
   content: '';
   position: absolute;
   left: -37px; /* відступ + ширина елемента */
   top: 60%;
   transform: translateY(-50%);
   width: 18px; /* Ширина круглого кружечка */
   height: 18px; /* Висота круглого кружечка */
   border: 1px solid #3C4242; /* Колір обведення круглого кружечка */
   border-radius: 50%; /* Заокруглені кути для створення круглого кружечка */
}


input[type="radio"]:hover + label::before {
   background-color: #8b33fd6b;
}

input[type="radio"]:checked + label::after {
   content: '';
   position: absolute;
   left: -37px; 
   top: 60%;
   transform: translateY(-50%) translateX(40%);
   width: 10px; 
   height: 10px;
   border-radius: 50%;
   background-color: #807D7E;
   background-position: center;
}


.delivery-form__label--flex{
   display: flex;
   justify-content: space-between;
   margin-bottom: 8px;
}

/* .delivery-form__label--before-flex{
   display: flex;
   column-gap: 19px;
} */
.subtitle--method{
   color: #807D7E;
   font-weight: 500;
}

.shipp-adress{
   margin-bottom: 30px;
}

.subtitle--margin{
   margin-bottom: 30px;
}

.item-delivery__pic{
   display: flex;
   column-gap: 20px;
   margin-bottom: 30px;
}

.item-delivery__pic img{
   width: 80px;
   height: 46px;
}

.card-info input{
   padding: 16px 20px;
   background-color: transparent;
   border-radius: 8px;
   border: 1px solid #3C4242;
   flex: 1 1 337px;
}

.card-info input::placeholder{
   color: #807D7E;
   font-family: Causten;
   font-size: 14px;
   font-weight: 400;
}

.card-info{
   display: flex;
   flex-wrap: wrap;
   row-gap: 28px;
   column-gap: 30px;
}

.item-delivery--payment{
   padding: 45px 48px 45px 28px;
}

.item-delivery__wrapper-input--payment, .item-delivery__wrapper-input--adress{
   padding: 0 23px 0 37px;
}
